---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ListCard.astro";
import SingleViewCard from "../components/SingleViewCard.astro";
import Slideshow from "../components/Slideshow.astro";
import Heading from "../components/Heading.astro";
import Button from "../components/CallToActionButton.astro";
import InfoCard from "../components/InfoCard.astro";
---

<Layout title="Forside">
  <div class="video_container">
    <video autoplay muted loop>
      <source src="https://nicolinemarott.dk/kea/08_ux_ui/hero_video.mp4" type="video/mp4" />
    </video>
  </div>
  <main>
    <Heading />

    <div class="citat">
      <p>"Målet ved festivalen er at lyse den mørke måned i Februar op og skabe fælleskab omkring lyset"</p>
    </div>

    <article class="infocards">
      <InfoCard header="Ruter til festivalen" text="Lav din personlige rute" click="Læs mere">
        <img src="Vector (Stroke).svg" alt="ruter" class="info-img" />
      </InfoCard>
      <InfoCard header="Se udstillinger" text="Find alle værkerne og find dem du gerne vil se" click="Læs mere">
        <img src="vaerkicon.svg" alt="ruter" class="info-img3" />
      </InfoCard>
      <InfoCard header="Book en guide" text="Få en personlig guide og bliv vist rundt i København" click="Læs mere">
        <img src="vaadin_group.svg" alt="ruter" class="info-img2" />
      </InfoCard>
    </article>

    <article class="omos">
      <div>
        <h2>Om os</h2>
        <p>Copenhagen Light Festival, startet af Tivoli, Stromma, VNR.tv og Louis Poulsen / D Studio, er en non-profit forening, der præsenterer lyskunst i interaktion med Københavns karakter og æstetik. Sekretariatet styrer daglige opgaver, samarbejder med kunstnere og støtter kuratorudvalget. Kuratorer, med ekspertise inden for lyskunst, tildeler midler baseret på vurderinger af udtryk, placering og interaktion med byen.</p>
      </div>
      <div>
        <img src="clf.avif" alt="img" />
      </div>
      <div>
        <Button action="Læs mere" />
      </div>
    </article>

    <Slideshow />

    <article class="nyhedsbrev">
      <div>
        <h2>Tilmeld Nyhedsbrev</h2>
        <p>Tilmelder du dig vores nyhedsbrev, går du ikke glip af begivenheder under Copenhagen Light Festival. Du vil løbende blive opdateret på nye kunstværker og årligt forberedt på, hvornår lyset vil forvandle København.</p>
        <div class="flexbutton">
          <Button action="Læs mere" />
          <Button action="Tilmeld dig" />
        </div>
      </div>
      <img class="order" src="nyhedsbrev.avif" alt="img" />
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
  }

  .infocards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 4rem;
  }
  .video_container {
    max-height: 80vh;
    overflow: hidden;
  }

  .citat {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    background: var(--citat-background-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .omos {
    position: relative;

    margin: 15rem 2rem 10rem 2rem;
    border-top: 0;
    border-left: 0;
    border-right: 3px solid #9a32c2;
    padding: 2rem;
  }

  .omos div {
    position: relative;
  }
  article.omos > *:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 2rem 20px;
  }

  .omos::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 150px);
    border-bottom: 3px solid #9a32c2;
  }

  .omos h2 {
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  .omos p {
    max-width: 70ch;
    line-height: 2rem;
  }

  .nyhedsbrev {
    margin: 15rem 2rem 5rem 2rem;
    border-left: 3px solid #9a32c2;
    border-top: 3px solid #9a32c2;
    border-bottom: 0;
    border-right: 0;
    padding: 2rem;
  }

  .nyhedsbrev h2 {
    margin-bottom: 1.5rem;
    font-style: italic;
  }

  .nyhedsbrev p {
    max-width: 50ch;
    line-height: 2rem;
  }

  .flexbutton {
    display: flex;
    gap: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .read-more-btn {
    transform: translateY(78px);
  }
  .info-img {
    width: 70px;
    margin-top: 50px;
  }
  .info-img2 {
    width: 102px;
    margin-top: 50px;
  }
  .info-img3 {
    width: 115px;
    margin-top: 50px;
  }

  @media (min-width: 800px) {
    .infocards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 5rem;
      margin-left: 0;
    }

    .omos {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .nyhedsbrev {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;
      border-left: 3px solid #9a32c2;
      border-top: 0;
      border-bottom: 3px solid #9a32c2;
      border-right: 0;
    }

    .order {
      order: -1;
      grid-row: 1/3;
    }

    .flexbutton {
      margin-bottom: 2rem;
      justify-self: start;
    }

    .nyhedsbrev div:first-child {
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }
</style>
