---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ListCard.astro";
import Heading from "../components/Heading.astro";

const data = await fetch("https://gqzwqtoqyaxmxurxizow.supabase.co/rest/v1/udstillinger?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxendxdG9xeWF4bXh1cnhpem93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTA4OTYsImV4cCI6MjAyNjA2Njg5Nn0.6IGf2QJbt48spwNk0hZn1WHbZJYXT4ljVQvSNiwRaIQ",
  },
}).then((res) => res.json());

// console.log(data);
---

<Layout title="Udstillinger">
  <main>
    <div class="heading">
      <Heading />
    </div>

    <div class="lysevents">
      <h1>ALLE LYSVÆRKER OG EVENTS</h1>
      <h3>I PERIODEN D. 2. FEBRUAR - 25 FEBRUAR</h3>
    </div>

    <article class="listview">
      {
        data.map((udstilling) => {
          return <Card data={udstilling} />;
        })
      }
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
  }
  .heading {
    margin-top: 5rem;
  }

  .listview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 800px;
    margin: auto;
  }

  .lysevents h1,
  h3 {
    text-align: center;
    font-weight: 100;
  }

  .lysevents h3 {
    background: var(--citat-background-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .lysevents {
    margin-bottom: 5rem;
  }
</style>
