---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ListCard.astro";
import Heading from "../components/Heading.astro";

const data = await fetch("https://gqzwqtoqyaxmxurxizow.supabase.co/rest/v1/udstillinger", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxendxdG9xeWF4bXh1cnhpem93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTA4OTYsImV4cCI6MjAyNjA2Njg5Nn0.6IGf2QJbt48spwNk0hZn1WHbZJYXT4ljVQvSNiwRaIQ",
  },
}).then((res) => res.json());

console.log(data);
---

<Layout>
  <div class="heading">
    <Heading />
  </div>

  <article class="listview">
    {
      data.map((udstilling) => {
        return <Card data={udstilling} />;
      })
    }
  </article>
</Layout>

<style>
  .heading {
    margin-top: 5rem;
  }

  .listview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 800px;
  }
</style>
