---

---

<div class="heading">
  <h1>COPENHAGEN LIGHT FESTIVAL</h1>
  <h2>2. - 25. Februar 2024</h2>
</div>

<style>
  .heading {
    text-align: center;
    margin-bottom: 6rem;
  }

  h1 {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, rgba(71, 23, 147, 1) 0%, rgba(205, 56, 82, 1) 100%);
    padding-bottom: 0.5rem;
    font-weight: 100;
  }

  h2 {
    padding-top: 0.5rem;
    font-weight: 100;
  }
</style>
