---
import CtaBtn from "../components/CallToActionButton.astro";
import SingleViewCard from "../components/SingleViewCard.astro";
import "../css/style.css";
import Heading from "../components/Heading.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header></header>

    <main>
      <Heading />
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style>
  main {
    max-width: 1200px;
    margin: auto;
  }
</style>
